.expenseformdiv {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 20px;
}
 
.expenseform {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 600px;
  border-radius: 20px;
  background-color: rgb(31, 29, 30);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.expenseform label {
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}
 
.expenseform input,
.categoryselection {
  background-color: #2c2c2c;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 0 10px;
}
 
.expenseform button {
  padding: 12px;
  background-color: #2c2c2c;
  color: white;
  width: 50%;
  border-radius: 10px;
  margin: 20px auto 0;
  font-size: 16px;
  cursor: pointer;
}
 
.expenseform .title {
  color: white;
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
}
 
.description_div,
.amount_div,
.category_div,
.datetime_div,
.expense_div {
  display: flex;
  flex-direction: column;
}
 
.selectdiv {
  display: flex;
  flex-direction: column;
}
 
.categoryselection {
  width: 100%;
  height: 40px;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-weight: bold;
  margin: 10px 0;
}
 