body {
  font-family: 'Segoe UI';
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}


.maindiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.categorydiv {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.categorydiv > div {
  background-color: #1e1e1e;
  width: 140px;
  height: 160px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.categorydiv  div:hover {
  transform: scale(1.05);
}

.categorydiv img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.categorydiv div div {
  color: #00e5ff;
  font-weight: bold;
  font-size: 16px;
}

/* Chart containers */
.chartdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
}

.Expensechartdiv,
.PieChartdiv {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.Expensechartdiv h3,
.PieChartdiv h3 {
  color: #00e5ff;
  text-align: center;
  margin-bottom: 20px;
}

.expensechart,
.piechart {
	
  height: 300px !important;
}



